%span Query image:
%br
%img{:src => "data:image/jpg;base64,#{@query_image}", :width => 400}
%br
%br
%span Results:
%br

- @images.each do |image|
  %span= image[:metadata][:attribution]
  %br
  %img{:src => image[:iiif_identifier] + '/full/!400,400/0/default.jpg'}
  %br
  %a{:target => '_blank', :href => image[:metadata][:seeAlso]}= [image[:metadata][:label],image[:metadata][:canvas]].join(', ')
  %a{:target => '_blank', :href => image[:metadata][:manifest]} (manifest)
  %br
  %br
